<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIT Kurukshetra</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>

  
    <div class="navbar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwRlyjpYm-QKfvbdsR2D9G93xPabAfZowZVw&s" alt="NIT Logo">
        <a href="/home">Home</a>
        <a href="/home/Attendance">Attendance</a>
        <a href="/home/academic">Academic</a>
        <a href="/home/student">Dashboard</a>
        <a href="/home/club">Clubs</a>
        <a href="/home/library">Library</a>
    </div>
</body>
 </html>   